#bill
{
border-collapse: collapse;
width:88%;
position:absolute;
top:30%;
margin-left:6%; 
margin-right:6%;
}
#cusid
{
position:absolute;
top:17%;
left:10%;
}
#cusnamlabel
{
position:absolute;
top:17%;
left:30%;
}
#cname
{
position:absolute;
top:20.5%;
left:40%;
}
#bdate
{
position:absolute;
top:17%;
left:57%;
}
#msg
{
position:absolute;
top:20%;
left:75%;
}
#diag
{
position:absolute;
bottom:20%;
left:10%
}
td
{
text-align:center;
width:150px;
border-bottom: 1px solid #ddd;
padding: 8px;
}
td.cinfo
{
width:200px;
}
#res
{
text-align:center;
border-bottom: 1px solid #ddd;
padding: 8px;
}
input
{
border:none;
}
input.pqt
{
text-align:center;
}
input.psell
{
text-align:right;
}
