#success
{
font-size:40px;
position:absolute;
top:30%;
left:22%;
color:green;
}
#fail
{
font-size:40px;
position:absolute;
top:30%;
left:34%;
color:red;
}
#addanother
{
text-decoration:none;
color:#666333;
font-size:20px;
text-align:center;
position:absolute;
top:60%;
left:35%;
background-color:beige;
}
#gotochome
{
text-decoration:none;
color:#666333;
font-size:20px;
text-align:center;
position:absolute;
top:60%;
left:55%;
background-color:beige;
}
