#sort
{
border-collapse: collapse;
position:absolute;
top:23%;
left:10%;
}
#result
{
border-collapse: collapse;
width:80%;
position:absolute;
top:30%;
left:10%;
}
#res
{
text-align:center;
border-bottom: 1px solid #ddd;
padding: 8px;
}
#itemlink
{
text-decoration:none;
color:black;
}
#resrow:hover
{
background-color: #f5f5f5
}
