#success
{
font-size:40px;
position:absolute;
top:30%;
left:36%;
color:green;
}
#fail
{
font-size:40px;
position:absolute;
top:30%;
left:34%;
color:red;
}
#gotophome
{
text-decoration:none;
color:#666333;
font-size:20px;
text-align:center;
position:absolute;
top:60%;
left:45%;
background-color:beige;
}