#productentry
{
position:absolute;
top:20%;
left:40%;
}
#tableinfo
{
position:absolute;
bottom:2%;
left:32%
}
#fail
{
font-size:40px;
position:absolute;
top:30%;
left:34%;
color:red;
}